* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: rgb(164, 50, 25);
}
